In [301]:
import pandas as pd
import numpy as np
from konlpy.tag import Mecab
from collections import Counter
import warnings
warnings.filterwarnings('ignore')
import re

In [187]:
mecab = Mecab()

In [188]:
def make_tokens(data) :
    all_tokens = []
    for r in data['review'] :
        tokens = mecab.pos(r)
        pos_token = []
        for token in tokens :
            if token[1].startswith('N') or token[1].startswith('V') or token[1].startswith('M') :
                pos_token.append(token[0])
            else :
                pass
        all_tokens.append(pos_token)
        
    data['token'] = all_tokens
    
    return data

- Mecab 형태소 분석기를 활용해서 동사(V), 부사(M), 명사(N)만 추출합니다.

In [265]:
price = pd.read_excel('가격.xlsx')
price['리뷰카테고리'] = '가격'

- 가격 데이터를 불러오고 리뷰카테고리 열을 만들어 '가격'이라는 문자로 채웁니다.

In [266]:
price = make_tokens(price)

In [267]:
price.head(3)

,score,review,y,리뷰카테고리,token
0,5,넘버즈인 클렌징오일도 정말 제가 애정하는 인생템입니다~~!! 처음에 넘버즈인이라는 ...,1,가격,"[넘버, 즈인, 클렌징, 오일, 정말, 제, 애정, 인생, 템, 입니다, 처음, 넘..."
1,5,"저는 복합성 피부를 가지고 있는데요, 이 클렌징 오일은 정말 인생템이에요~~!! 사...",1,가격,"[저, 복합, 피부, 가지, 있, 클렌징, 오일, 정말, 인생, 템, 이, 사실, ..."
2,5,클렌징폼이 지겨울때쯤 유투버의 추천으로 사용하게\n\n됐습니다. 기름은 기름으로 지...,1,가격,"[클렌징, 폼, 지겨울, 때, 유투, 버, 추천, 사용, 됐, 기름, 기름, 지워야..."

***

In [268]:
cap = pd.read_excel('용량.xlsx')
cap['리뷰카테고리'] = '용량'

- 용량 데이터를 불러오고 리뷰카테고리 열을 만들어 '용량'이라는 문자로 채웁니다.

In [269]:
cap['y'] = cap.iloc[:, -2]
cap.drop('Unnamed: 2', axis = 1, inplace = True)

- "Unnmaed: 2" 컬럼이 y 값을 의미하므로 "y" 변수를 만들어주고 기존의 "Unnamed: 2" 변수를 삭제합니다.

In [270]:
cap = make_tokens(cap)

In [271]:
cap.head(3)

,score,review,리뷰카테고리,y,token
0,5.0,??방랑생활?끝?피지타파?새?인생클렌징오일??\n\n메이크업을?즐기는?편이라?클렌징...,용량,1,"[방랑, 생활, 끝, 피지, 타파, 새, 인생, 클렌징, 오, 일, 메이크업, 즐기..."
1,4.0,유튜버분?영상?보고?한?번?구매해보자~하는?마음에?샀는데?무슨일이에요….?너무?좋아...,용량,1,"[유, 튜버, 분, 영상, 보, 한, 번, 구매, 보, 하, 마음, 샀, 무슨, 일..."
2,5.0,넘버즈인이?SNS에?광고?정말?많이?하죠.?비슷한?시기에?쭉?풀리는가?싶다가도?또?...,용량,1,"[넘버, 즈인, 이, 광고, 정말, 많이, 하, 시기, 쭉, 풀리, 싶, 또, 시간..."

***

In [272]:
brand = pd.read_excel('브랜드.xlsx').dropna()
brand['리뷰카테고리'] = '브랜드'

- 브랜드 데이터를 불러오고 리뷰카테고리 변수에 '브랜드'라는 문자열로 채워줍니다.

In [273]:
brand = make_tokens(brand)

In [274]:
brand.head(3)

,score,review,y,리뷰카테고리,token
0,4.0,"시트는 안 두껍고, 얼굴에 잘 밀착되고 에센스의 양도 미친듯이 많은 것은 아니지만 ...",1.0,브랜드,"[시트, 안, 두껍, 얼굴, 잘, 밀착, 에센스, 양도, 미친, 듯이, 많, 것, ..."
1,5.0,메디힐 팩 유명한거야 말할필요도 없고 늘 쟁여놓고 쓰는 브랜드입니당 \n메디힐이 워...,1.0,브랜드,"[메디, 힐, 팩, 거, 야, 말, 필요, 없, 늘, 쟁여, 놓, 쓰, 브랜드, 입..."
2,5.0,아마 장수로 따지면 .. 500장 넘게 썼다해도 과언이 아닐만큼 죽어라고 쓰고있는 ...,1.0,브랜드,"[아마, 장수로, 따지, 장, 넘, 썼, 해도, 과언, 아닐, 만큼, 죽, 쓰, 있..."

***

In [275]:
sent = pd.read_excel('향.xlsx').dropna()
sent['리뷰카테고리'] = '향'

- 향 데이터를 불러오고 리뷰카테고리 변수에 '향'이라는 문자열로 채워줍니다.

In [276]:
sent = make_tokens(sent)

In [277]:
sent.head(3)

,score,review,y,리뷰카테고리,token
0,5.0,🌼방랑생활 끝 피지타파 새 인생클렌징오일🌼\n\n메이크업을 즐기는 편이라 클렌징은 ...,1.0,향,"[방랑, 생활, 끝, 피지, 타파, 새, 인생, 클렌징, 오일, 메이크업, 즐기, ..."
1,5.0,넘버즈인이 SNS에 광고 정말 많이 하죠. 비슷한 시기에 쭉 풀리는가 싶다가도 또 ...,1.0,향,"[넘버, 즈인, 이, 광고, 정말, 많이, 하, 시기, 쭉, 풀리, 싶, 또, 시간..."
2,5.0,엄청 유명하길래\n한번사봣어요\n제가자주보는 유튜버분이\n광고하면서 엄청엄청엄총나게...,1.0,향,"[엄청, 유명, 한, 번, 사, 제, 자주, 보, 유, 튜버, 분, 광고, 엄청, ..."

***

In [198]:
comp = pd.read_excel('성분.xlsx').dropna()
comp['리뷰카테고리'] = '성분'

- 성분 데이터를 불러오고 리뷰카테고리 변수에 '성분' 이라는 문자열로 채워줍니다.

In [278]:
comp = make_tokens(comp)

In [279]:
comp.head(3)

,score,review,y,리뷰카테고리,token
0,5,유튜브에서 리뷰보고 구매했는데 너무 맘에 들어요!!!순한 제품을 찾고 있었는데 일주...,1,성분,"[유튜브, 리뷰, 보, 구매, 너무, 맘, 들, 순한, 제품, 찾, 있, 일주일, ..."
1,5,오일성분의 클렌징은 \n솔직히 세정력은 좋을지 몰라도 폼클린징까지해야하는 \n두번씩...,1,성분,"[오일, 성분, 클렌징, 솔직히, 세정력, 좋, 몰라도, 폼, 클린, 징, 해야, ..."
2,5,클렌징폼이 지겨울때쯤 유투버의 추천으로 사용하게\n\n됐습니다. 기름은 기름으로 지...,1,성분,"[클렌징, 폼, 지겨울, 때, 유투, 버, 추천, 사용, 됐, 기름, 기름, 지워야..."

***
#### 가격, 브랜드, 성분, 용량, 향 데이터를 하나의 데이터로 합쳐줍니다.

In [280]:
data = pd.concat([price, brand, comp, sent, cap], axis = 0, ignore_index = True)

In [283]:
data.sample(10)

,score,review,y,리뷰카테고리,token
1223,5.0,마녀공장 거의 나올 때부터 쓰고 있는 제품인데 정말 늘 만족스럽습니다\n\nㅁ 자극...,1.0,향,"[마녀, 공장, 거의, 나올, 때, 쓰, 있, 제품, 인데, 정말, 늘, 만족, ㅁ..."
1153,5.0,일단 성분이 순해서 그런지 저희 가족이 사용해도 괜찮아요\n제가 화장품을 사면 다들...,1.0,성분,"[일단, 성분, 순, 그런지, 저희, 가족, 사용, 괜찮, 제, 화장품, 사면, 다..."
1798,4.0,"요즘 방송에서 이게 얼마나 많이 나오는지 엄마가 사달래요,,\nㅋㅋㅋㅋㅋ후기 좋으면...",1.0,용량,"[요즘, 방송, 이게, 얼마나, 많이, 나오, 엄마, 사달, 래요, 후기, 좋, 사..."
1732,5.0,세안 후 토너로만 가볍게 얼굴을 닦은 뒤 시트를 부착했습니다. 시트 크기는 적당하여...,1.0,용량,"[세안, 후, 토너, 가볍, 얼굴, 닦, 뒤, 시트, 부착, 시트, 크기, 얼굴, ..."
1487,4.0,목주름 케어로 유명한 멀티밤입니다. 이걸바른다고 목주름이 과연 없어질까 의문이지만 ...,1.0,향,"[목주름, 케어, 멀티, 밤, 입니다, 이걸, 바른다고, 목주름, 과연, 없, 질까..."
950,5.0,여드름에 딱히좋은건모르겠지만 자극없이순해요\n에센스양도 적당하고 잘밀착되요,1.0,성분,"[여드름, 딱히, 좋, 건, 모르, 자극, 없이, 순해요, 에센스, 양도, 잘, 밀착]"
225,5.0,작년 봄에 써보고 좋아서 구매했어요.\n아침 저녁으로 날씨가 쌀쌀해지니 입가주위가 ...,1.0,가격,"[작년, 봄, 써, 보, 좋, 구매, 아침, 저녁, 날씨, 쌀, 쌀, 지, 입가, ..."
1221,5.0,평소 한*킨 클렌징 오일만 매일 썼었는데 항상 쓰다보면 통 맨 밑부분에 물이 들어가...,1.0,향,"[평소, 한, 킨, 클렌징, 오일, 매일, 썼었, 항상, 쓰, 보, 통, 맨, 밑부..."
1647,5.0,"저는?블랙헤드?없애려고?샀는데요,?진짜...?최고네요...?자극도?없고?코팩했을?때...",1.0,용량,"[저, 블랙, 헤드, 없애, 샀, 진짜, 최고, 네요, 자극, 없, 코, 팩, 때,..."
444,5.0,"복합성, 수부지 피부를 가지고 있습니다. 평소에는 메디힐 제품을 사용했고 이번에 올...",1.0,브랜드,"[복합, 수부, 지, 피부, 가지, 있, 평소, 메디, 힐, 제품, 사용, 이번, ..."

데이터 중 10개만 샘플로 확인합니다.

***

### 제품 데이터 처리

In [201]:
mask = pd.read_csv('mask.csv')
mask['제품명'] = '마스크'

마스크 데이터를 불러오고 제품명이라는 변수에 '마스크'라는 문자열로 채워줍니다.

In [284]:
mask.head(3)

   score                                             review  y  제품명
0      5  언제 뒤집어질지 모르는 예민하고 민감한 피부, \n메디힐 티트리팩으로 항시대비하세요...  1  마스크
1      5  🖤가성비 좋게 구매한 믿고 사는 메디힐🖤\n\n- 복합성 / 민감성 피부\n- 요즘...  1  마스크
2      5  말해뭐해... 말모말모... 내 인생 마스크팩입니다☺️\n화장품 성분 분석해주는 어...  1  마스크

In [286]:
suncream = pd.read_csv('suncream.csv')
suncream['제품명'] = '선크림'

선크림 데이터를 불러오고 제품명이라는 변수에 '선크림'라는 문자열로 채워줍니다.

In [287]:
suncream.head(3)

   score                                             review  y  제품명
0      5  ★구성: 1+1 구성 기획으로 구매했어요. 하나는 남자친구 주고 1개는 제가 사용하...  1  선크림
1      5  또×재구매템이에영♡♡\n이건 정말거의 열통도 넘게사용하고잇는것같아영^^*\n\n제가...  1  선크림
2      5  사실 닥터지 선크림 초록색 제품 이용중이었는데 요즘따라 바르는데 너무 건조해지더라고...  1  선크림

In [288]:
skincare = pd.read_csv('skincare.csv')
skincare['제품명'] = '스킨케어'

스킨케어 데이터를 불러오고 제품명이라는 변수에 '스킨케어'라는 문자열로 채워줍니다.

In [289]:
skincare.head(3)

   score                                             review  y   제품명
0      5  언제 어디서든 간편하게 꺼내 스윽슥 펴바르면 맑고 투명하게 올라오는 광은 덤으로 얻...  1  스킨케어
1      4  3~5년 전쯤 멀티밤의 유행이 시작할때 타사 브랜드에서 비슷한 스틱의 멀티밤의 제품...  1  스킨케어
2      5  가히 디자인팀 분들 덕분에 정말 포장부터 감동했잖아요😭\n처음에 편지가 들어있길래 ...  1  스킨케어

In [291]:
cleansing = pd.read_csv("cleaning.csv")
cleansing['제품명'] = '클렌징오일'

클렌징오일 데이터를 불러오고 제품명이라는 변수에 '클렌징오일'라는 문자열로 채워줍니다.

In [292]:
cleansing.head(3)

   score                                             review  y    제품명
0      5  🌼방랑생활 끝 피지타파 새 인생클렌징오일🌼\n\n메이크업을 즐기는 편이라 클렌징은 ...  1  클렌징오일
1      5  메이크업 클렌징이 너무 귀찮으신분들!\n마스카라 까지 메이크업 원샷 원킬!\n눈시림...  1  클렌징오일
2      5  🖤 피부 : 좁쌀여드름 + 부분적으로 화농성 여드름 \n\n2통 째 사용중 \n\n...  1  클렌징오일

#### 마스크, 선크림, 스킨케어, 클렌징오일 데이터를 하나로 합쳐줍니다.

In [205]:
items = pd.concat([mask, suncream, skincare, cleansing], axis = 0, ignore_index = True)

***
#### 기본성분 데이터와 제품 데이터를 매칭시켜 기본 성분 데이터에 제품명을 입력시켜줍니다.

In [296]:
merged = pd.merge(data, items, how = 'left')

In [297]:
merged.sample(3)

,score,review,y,리뷰카테고리,token,제품명
99,5.0,클렌징 크림이 안맞아서 오일러 바꿨어요\n후기가 많고 가격도 적당한 마녀 오일 건성...,1.0,가격,"[클렌징, 크림, 안, 맞, 오일러, 바꿨, 후기, 많, 가격, 마녀, 오일, 건성...",클렌징오일
703,5.0,"장점\n1. 피부 전문 관리 후, 민감해진 피부를 건강하게 케어 해주는 저자극 선크...",1.0,브랜드,"[장점, 피부, 전문, 관리, 후, 피부, 건강, 케어, 해, 주, 저, 자극, 선...",선크림
1649,5.0,전?얼굴에?뾰루지도?잘나고?민감한?피부라?화장품?고를때만큼?클렌징제품도?꼼꼼하게?살...,1.0,용량,"[전, 얼굴, 뾰루지, 잘나, 피부, 라, 화장품, 때, 클렌징, 제품, 꼼꼼, 하...",NaN

In [298]:
merged_not_null = merged[merged.제품명.notnull()]
merged_null = merged[merged.제품명.isnull()]

In [299]:
merged_not_null.head(3)

,score,review,y,리뷰카테고리,token,제품명
0,5.0,넘버즈인 클렌징오일도 정말 제가 애정하는 인생템입니다~~!! 처음에 넘버즈인이라는 ...,1.0,가격,"[넘버, 즈인, 클렌징, 오일, 정말, 제, 애정, 인생, 템, 입니다, 처음, 넘...",클렌징오일
1,5.0,"저는 복합성 피부를 가지고 있는데요, 이 클렌징 오일은 정말 인생템이에요~~!! 사...",1.0,가격,"[저, 복합, 피부, 가지, 있, 클렌징, 오일, 정말, 인생, 템, 이, 사실, ...",클렌징오일
2,5.0,클렌징폼이 지겨울때쯤 유투버의 추천으로 사용하게\n\n됐습니다. 기름은 기름으로 지...,1.0,가격,"[클렌징, 폼, 지겨울, 때, 유투, 버, 추천, 사용, 됐, 기름, 기름, 지워야...",클렌징오일

- 누락된 값이 없는 데이터 입니다.

In [300]:
merged_null.head(3)

,score,review,y,리뷰카테고리,token,제품명
1592,5.0,??방랑생활?끝?피지타파?새?인생클렌징오일??\n\n메이크업을?즐기는?편이라?클렌징...,1.0,용량,"[방랑, 생활, 끝, 피지, 타파, 새, 인생, 클렌징, 오, 일, 메이크업, 즐기...",NaN
1593,4.0,유튜버분?영상?보고?한?번?구매해보자~하는?마음에?샀는데?무슨일이에요….?너무?좋아...,1.0,용량,"[유, 튜버, 분, 영상, 보, 한, 번, 구매, 보, 하, 마음, 샀, 무슨, 일...",NaN
1594,5.0,넘버즈인이?SNS에?광고?정말?많이?하죠.?비슷한?시기에?쭉?풀리는가?싶다가도?또?...,1.0,용량,"[넘버, 즈인, 이, 광고, 정말, 많이, 하, 시기, 쭉, 풀리, 싶, 또, 시간...",NaN

- 제품명이 누락된 데이터 입니다.

In [208]:
def fill_item(x) :
    if '클렌징오일' in x or '오일' in x or '클렌징폼' in x :
        return '클렌징오일'
    elif '선크림' in x or '썬크림' in x :
        return '선크림'
    elif '마스크' in x :
        return '마스크'
    elif '스킨케어' in x :
        return '스킨케어'
    else :
        return np.nan

- 제품명이 누락된 데이터는 제품 관련 문자열을 찾아 값을 채워줍니다.

In [209]:
merged_null.제품명 = merged.review.apply(fill_item)

In [210]:
merged_null.dropna(inplace = True)

- 그래도 누락된 값이 있는 데이터는 삭제합니다.

In [211]:
df = pd.concat([merged_not_null, merged_null], axis = 0, ignore_index = True)

- 나뉘어졌던 데이터를 다시 하나로 합칩니다.

In [213]:
df['review'] = [re.sub(r'[^가-힣]+', ' ', s) for s in df['review']]

- 리뷰에서 한글과 숫자만 빼고 나머지(특수문자, 영문 등)는 삭제합니다.

In [214]:
total_word = []
for token in df['token'] :
    s = ''
    for word in token :

        s += f' {word}'
    total_word.append(s)

- Tfidf 적용을 위해 각 토큰을 문자열로 합쳐줍니다.

In [215]:
df['token'] = total_word

In [303]:
df['token'].head()

0     넘버 즈인 클렌징 오일 정말 제 애정 인생 템 입니다 처음 넘버 즈인 이 브랜드 ...
1     저 복합 피부 가지 있 클렌징 오일 정말 인생 템 이 사실 광고 많이 하 브랜드 ...
2     클렌징 폼 지겨울 때 유투 버 추천 사용 됐 기름 기름 지워야 잘 지워진다는 말 ...
3     좋 후기 많 가격 조금 나가 큰 마음 먹 구매 했 역시 나 너무 좋 일단 이거 하...
4     방랑 생활 끝 피지 타파 새 인생 클렌징 오일 메이크업 즐기 편 이 클렌징 무족 ...
Name: token, dtype: object

***
### 감성극성값 예측 모델링

- 감성극성값을 예측하는 모델을 만들기 위해 원본데이터에서 샘플링된 데이터(기본특성)를 뺀 데이터를 모델 학습에 사용합니다.

In [216]:
model_input = pd.merge(items, data, how = 'left')

In [217]:
model_input = model_input[(model_input.token.isnull()) & (model_input.review.notnull())]

In [218]:
model_input['review'] = [re.sub(r'[^0-9가-힣]+', ' ', s) for s in model_input['review']]

In [219]:
model_input = make_tokens(model_input)

In [220]:
total_word = []
for token in model_input['token'] :
    s = ''
    for word in token :

        s += f' {word}'
    total_word.append(s)

In [221]:
model_input['token'] = total_word

In [222]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [223]:
tfidf = TfidfVectorizer(max_features = 1000, lowercase = False)

- tfidf를 1000차원으로 설정하고 사용합니다.

In [253]:
X = model_input['token']
y = model_input.y

- 독립변수로 데이터의 리뷰 토큰, 종속변수로 긍/부정 여부를 지정합니다.

In [225]:
X = tfidf.fit_transform(X)

- 리뷰 토큰을 tfidf에 적용합니다.

In [226]:
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state = 42, stratify = y, shuffle = True, test_size = 0.2)

- tfidf로 바꾼 리뷰토큰을 학습용 데이터(80%) , 검증용 데이터(20%)로 분할합니다.
- 이 때 분류 문제를 풀기 때문에 층화추출 기법을 사용합니다.

In [227]:
from lightgbm import LGBMClassifier

- 학습속도가 빠르고 대량 데이터에 적합한 Lightgbm 알고리즘을 사용합니다.

In [228]:
lgbm = LGBMClassifier(random_state = 42)

In [229]:
lgbm.fit(X_train, y_train)

LGBMClassifier(random_state=42)

- 학습용 리뷰토큰과 긍/부정 여부를 학습합니다.

In [230]:
pred = lgbm.predict_proba(X_val)[:, 1]

- 예측을 통해 긍/부정 확률을 산출합니다.

In [231]:
from sklearn.metrics import roc_auc_score

- 분류모델 평가지표인 roc_auc 지표로 성능을 확인합니다.

In [232]:
roc_auc = roc_auc_score(y_val, pred)

- 검증용 데이터와 예측값을 평가합니다.

In [233]:
roc_auc

0.7837383453547593

- 약 78.37%의 성능을 얻었습니다.

In [234]:
target = tfidf.transform(df['token'])

- 우리가 최종적으로 예측해야할 기본특성 데이터의 감성극성값을 예측하기위해 리뷰 토큰을 tfidf에 적용합니다.

In [235]:
df['감성극성값'] = lgbm.predict_proba(target)[:, 1]

- 감성극성값을 산출합니다.

In [236]:
roc_auc_score(df['y'], df['감성극성값'])

0.8059424379232507

- 실제로 기본특성데이터의 긍/부정 여부와 예측한 감성극성값의 roc_auc성능은 약 81%의 성능을 보입니다.
***
### 통계 분석

In [237]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from scipy.stats import ttest_ind
from statsmodels.sandbox.stats.multicomp import MultiComparison

- 통계분석을 위해 ANOVA, Tuekey, Bonferroni 검정 패키지를 불러옵니다.

In [ ]:
df['제품명'] = df['제품명'].astype('category')

- 문자열인 제품명을 카테고리 형태로 바꿔줍니다.,

In [258]:
price_df = df[df.리뷰카테고리 == '가격']
sent_df = df[df.리뷰카테고리 == '향']
comp_df = df[df.리뷰카테고리 == '성분']
brand_df = df[df.리뷰카테고리 == '브랜드']
cap_df = df[df.리뷰카테고리 == '용량']

- 각 기본특성별로 데이터를 분할합니다.

In [240]:
def get_analysis_result(data) :
    model = ols('감성극성값 ~ C(제품명)', data = data).fit()
    print('< ANOVA 검정 >')
    display(anova_lm(model))
    
    tukey = pairwise_tukeyhsd(data.y, data.제품명, alpha = 0.1)
    print('\n < Tukey 검정 >\n')
    print(tukey)
    
    comp = MultiComparison(data.y, data.제품명)
    result = comp.allpairtest(ttest_ind, method='bonf')
    print('\n < Bonferroni 검정 >')
    display(result[0])

- 자동으로 ANNOVA, Tuekey, Bonferroni 검정을 수행하는 함수를 만듭니다.

In [259]:
get_analysis_result(cap_df)

< ANOVA 검정 >

             df    sum_sq   mean_sq        F    PR(>F)
C(제품명)      3.0  0.022045  0.007348  2.35846  0.071297
Residual  376.0  1.171494  0.003116      NaN       NaN

 < Tukey 검정 >

Multiple Comparison of Means - Tukey HSD, FWER=0.10
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
   마스크    선크림  -0.0405  0.708  -0.131   0.05  False
   마스크   스킨케어  -0.1105 0.0269  -0.201  -0.02   True
   마스크  클렌징오일   0.0115    0.9 -0.0848 0.1079  False
   선크림   스킨케어    -0.07 0.2877 -0.1607 0.0207  False
   선크림  클렌징오일    0.052 0.5904 -0.0445 0.1486  False
  스킨케어  클렌징오일    0.122 0.0202  0.0255 0.2186   True
---------------------------------------------------

 < Bonferroni 검정 >

In [241]:
get_analysis_result(price_df)

< ANOVA 검정 >

             df    sum_sq   mean_sq         F    PR(>F)
C(제품명)      3.0  0.005949  0.001983  0.864537  0.459524
Residual  396.0  0.908333  0.002294       NaN       NaN

 < Tukey 검정 >

Multiple Comparison of Means - Tukey HSD, FWER=0.10
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
   마스크    선크림    -0.09 0.0956 -0.1793 -0.0007   True
   마스크   스킨케어    -0.03 0.8516 -0.1193  0.0593  False
   마스크  클렌징오일    -0.05 0.5629 -0.1393  0.0393  False
   선크림   스킨케어     0.06 0.4128 -0.0293  0.1493  False
   선크림  클렌징오일     0.04 0.7073 -0.0493  0.1293  False
  스킨케어  클렌징오일    -0.02    0.9 -0.1093  0.0693  False
----------------------------------------------------

 < Bonferroni 검정 >

In [242]:
get_analysis_result(sent_df)

< ANOVA 검정 >

             df    sum_sq   mean_sq         F   PR(>F)
C(제품명)      3.0  0.017172  0.005724  1.714231  0.16351
Residual  393.0  1.312266  0.003339       NaN      NaN

 < Tukey 검정 >

Multiple Comparison of Means - Tukey HSD, FWER=0.10
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
   마스크    선크림   -0.071 0.3667 -0.1715  0.0295  False
   마스크   스킨케어  -0.1231 0.0268 -0.2238 -0.0223   True
   마스크  클렌징오일    -0.12 0.0314 -0.2202 -0.0198   True
   선크림   스킨케어  -0.0521 0.6206  -0.153  0.0489  False
   선크림  클렌징오일   -0.049 0.6565 -0.1495  0.0515  False
  스킨케어  클렌징오일   0.0031    0.9 -0.0977  0.1038  False
----------------------------------------------------

 < Bonferroni 검정 >

In [243]:
get_analysis_result(brand_df)

< ANOVA 검정 >

             df    sum_sq   mean_sq        F    PR(>F)
C(제품명)      3.0  0.064253  0.021418  9.05329  0.000008
Residual  391.0  0.925007  0.002366      NaN       NaN

 < Tukey 검정 >

Multiple Comparison of Means - Tukey HSD, FWER=0.10
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
   마스크    선크림  -0.0514  0.593 -0.1472  0.0444  False
   마스크   스킨케어  -0.1313 0.0092 -0.2269 -0.0357   True
   마스크  클렌징오일  -0.0404 0.7399  -0.136  0.0552  False
   선크림   스킨케어  -0.0799 0.2228 -0.1757  0.0159  False
   선크림  클렌징오일    0.011    0.9 -0.0848  0.1068  False
  스킨케어  클렌징오일   0.0909 0.1285 -0.0047  0.1865  False
----------------------------------------------------

 < Bonferroni 검정 >

In [244]:
get_analysis_result(comp_df)

< ANOVA 검정 >

             df    sum_sq   mean_sq         F    PR(>F)
C(제품명)      3.0  0.129698  0.043233  8.599017  0.000015
Residual  396.0  1.990946  0.005028       NaN       NaN

 < Tukey 검정 >

Multiple Comparison of Means - Tukey HSD, FWER=0.10
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
   마스크    선크림    -0.07 0.4565 -0.1793  0.0393  False
   마스크   스킨케어    -0.15 0.0093 -0.2593 -0.0407   True
   마스크  클렌징오일    -0.11 0.0965 -0.2193 -0.0007   True
   선크림   스킨케어    -0.08 0.3343 -0.1893  0.0293  False
   선크림  클렌징오일    -0.04 0.8131 -0.1493  0.0693  False
  스킨케어  클렌징오일     0.04 0.8131 -0.0693  0.1493  False
----------------------------------------------------

 < Bonferroni 검정 >

***

### 상관분석

- 각 기본특성 데이터에서 감성극성값과 평가score의 상관관계를 구합니다.

In [245]:
price_df[['score', '감성극성값']].corr()

          score     감성극성값
score  1.000000  0.281783
감성극성값  0.281783  1.000000

In [260]:
cap_df[['score', '감성극성값']].corr()

          score     감성극성값
score  1.000000  0.334487
감성극성값  0.334487  1.000000

In [246]:
brand_df[['score', '감성극성값']].corr()

          score     감성극성값
score  1.000000  0.359392
감성극성값  0.359392  1.000000

In [247]:
sent_df[['score', '감성극성값']].corr()

          score     감성극성값
score  1.000000  0.401674
감성극성값  0.401674  1.000000

In [248]:
comp_df[['score', '감성극성값']].corr()

          score     감성극성값
score  1.000000  0.458503
감성극성값  0.458503  1.000000